# OSX
#
.DS_Store


# IDE
#
.idea
.vscode

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Xcode
#
xcuserdata
project.xcworkspace

# Android/IntelliJ
#
local.properties
.gradle

# build files
build/
ios/ProcivisOneCoreFFI.xcframework
ios/ProcivisOneCore.xcframework
ios/htmldoc/
ios/ProcivisOneCore.doccarchive
android/libs/onecore-*
docs/

# keep dist
!dist
