# OSX
#
.DS_Store


# IDE
#
.idea
.vscode

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Xcode
#
xcuserdata
project.xcworkspace

# Android/IntelliJ
#
local.properties

# build files
build/
ios/one_coreFFI.xcframework
ios/one_core.swift
ios/IOSBLE*.swift
ios/SecureEnclaveKeyStorage.swift
android/libs/onecore-*
